<br>
<div class="row search-bar ">
  <div class="col-sm-12 col-md-12 col-lg-12 ">
    <form [formGroup]="form" class="search-bar">

      <mat-form-field appearance="outline" style="width: 95%">
        <input matInput placeholder="Enter Name or Dod ID" formControlName="search">
        <mat-label>Search</mat-label>
      </mat-form-field>

      <button mat-icon-button color="primary" (click)="onSearch()" [disabled]="!form.valid">
        <i class="material-icons md-24">search</i>
      </button>

    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <app-account-view [queryString]=search></app-account-view>
  </div>
</div>
 