  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h1>View Licenses</h1>
    </div>
  </div>
  <!-- <br>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <nav mat-tab-nav-bar color="accent">
        <a mat-tab-link 
          *ngFor="let link of navLinks" 
          [routerLink]="['/' +link.path]" 
          routerLinkActive #rla="routerLinkActive"
          [routerLinkActiveOptions]="{exact: true}"
          [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet> -->
  <router-outlet></router-outlet>
