<div class="row">
  <h1 class="col-sm-12 col-md-12 col-lg-12">User Profile</h1>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <a mat-button routerLink="/licenses" href="" color="$mat-blue">View Licenses</a>
    <i class="material-icons md-24" style="vertical-align:middle">keyboard_arrow_right</i>
    <a mat-button routerLink="." href="" color="$mat-blue">Profile</a>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1 offset-sm-1 offset-md-2 offset-lg-4">
      <button mat-stroked-button routerLink="/users/profile/update" href=""><i class="material-icons md-24">edit</i> Update Profile</button>  
  </div>
</div>

<br />
<br />

<div class="row">

  <!-- Left Column -->
  <div class="col-sm-5 col-md-5 col-lg-5">
    <div class="container">
      <br/>
      <!-- Personal Information -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Personal Information</mat-card-title>
            </mat-card-header>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                <p><strong>First Name: </strong></p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <p>{{ currentUser?.firstName }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                <p><strong>Middle Initial: </strong></p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <p>{{ currentUser?.middleInitial }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                <p><strong>Last Name: </strong></p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                  <p>{{ currentUser?.lastName }}</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <br/>
      <!-- Service Information -->
      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Service Information</mat-card-title>
              </mat-card-header>
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                  <p><strong>DoD ID: </strong></p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <p>{{ currentUser?.dodId }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                  <p><strong>Service: </strong></p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <p>{{ currentUser?.service?.name }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                  <p><strong>Rank: </strong></p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <p>{{ currentUser?.rank?.name }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                  <p><strong>Unit: </strong></p>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <p>{{ currentUser?.unit?.name }}</p>
                </div>
              </div>
            </mat-card>
          </div>
        </div>

    </div>
  </div>

  <!-- Divider -->
  <div class="col-sm-1 col-md-1 col-lg-1">
    <mat-divider
      [vertical]="true"
      style="height:100%; margin-right: 50%">
    </mat-divider>
  </div>

  <!-- Right Column -->
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="container">
      <br />

      <!-- Account Information -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Account Information</mat-card-title>
            </mat-card-header>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                <p><strong>Account Type: </strong></p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <p>{{ currentUser?.account?.accountType?.type }}</p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-2 col-xl-3">
                <button mat-stroked-button (click)="onRequestAccountClick()">Request Account Type</button>  
              </div>
            </div>  
            <br/>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                <p><strong>Date Created: </strong></p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <p>{{ currentUser?.account?.dateCreated | date }}</p>
              </div>
            </div>
            <div *ngIf="isAdmin">
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                  <p><strong>Signature:</strong></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                  <canvas id="cnv" name="cnv" #cnv width="500" height="100"></canvas>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <br/>
      <!-- Contact Information -->
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Contact Information</mat-card-title>
            </mat-card-header>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                <p><strong>Email: </strong></p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <p>{{ currentUser?.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                <p><strong>DSN Number: </strong></p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <p>{{ currentUser?.dsnPhone }}</p>
              </div>          
            </div>    
            <div class="row">
              <div class="col-sm-4 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-1">
                <p><strong>Comm Number: </strong></p>
              </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <p>{{ currentUser?.commPhone }}</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>

    </div>
  </div>
</div>
