<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <span>
        <a routerLink="/">
          <img mat-card-image class="header-image" src="../../../assets/logo/light/S.PNG" height=60>
        </a>
      </span>
    </div>
      <span class="spacer"></span>
    <div>
      <button mat-icon-button routerLink="/users/profile" href="">
        <i class="material-icons md-36">account_circle</i>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="material-icons md-24">more_vert</i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/users/accounts" href="" *ngIf="isAdmin$ | async">
          <i class="material-icons md-24">supervisor_account</i>
          <span> Accounts</span>
        </button>
        <button mat-menu-item routerLink="users/support/" href="">
          <i class="material-icons md-24">help_outline</i>
          <span> Support</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <i class="material-icons md-24">exit_to_app</i>
          <span> Logout</span>
        </button>
      </mat-menu>
      </div>
  </mat-toolbar-row>
</mat-toolbar>